[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/DirectXTK12"]
	path = External/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
